<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Simple barcode generator</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
	<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a class="navbar-brand" th:href="@{/}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/tgorgics/barcode"><span class="glyphicon glyphicon-cog"></span> Source</a></li>
      <li><a href="http://tgorgics.github.io"><span class="glyphicon glyphicon-user"></span> About the creator</a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid">

	 <div class="jumbotron text-center">
	 	<h1>Simple barcode generator</h1>
	 </div>
	 	
	 <div id="data_alert" class="alert alert-danger text-center"><small><strong>Error:</strong> Data field is required to generate barcode!</small></div>
	 <form id="form" class="form-horizontal" action="#" th:action="@{/barcode}" th:object="${barcode}" method="post">
		 <div class="form-group">
		 	<label class="control-label col-sm-6 text-right">Data:</label>
		 	<input id="data_input" type="text" th:field="*{data}" placeholder="Data to encode..." style="text-align:center;"/>
		 </div>
		 <div class="form-group">
		 	<label class="control-label col-sm-6 text-right">Label:</label>
		 	<input type="text" th:field="*{label}" style="text-align:center;"/>
		 </div>
		 <div class="form-group">
		 	<label class="control-label col-sm-6 text-right">Draw text?</label>
		 	<input type="checkbox" th:field="*{drawText}" />
		 </div>
		 <div class="form-group">
		 	<label class="control-label col-sm-6 text-right">Bar width:</label>
		 	<input type="number" th:field="*{width}" style="text-align:center;"/>
		 </div>
		 <div class="form-group">
		 	<label class="control-label col-sm-6 text-right">Bar height:</label>
		 	<input type="number" th:field="*{height}" style="text-align:center;"/>
		 </div>
		 <div class="form-group">
		 	<label class="control-label col-sm-6 text-right">Barcode type:</label>
		 	<select th:field="*{type}">
		 		<option value=""></option>
		 		<option th:each="barcodeType : ${barcodeTypes}" th:value="${barcodeType}" th:text="${barcodeType}"></option>
		 	</select>
		 </div>
		 <div class="form-group text-center">
		 	<input id="submitButton" class="btn btn-primary col-sm-4 col-sm-offset-4" type="button" value="Generate barcode!" />
		 </div>
	 </form> 
</div>
	
	<div id="imageContainer"></div>
		
</body>

<script type="text/javascript">

$(document).ready(function(){
	$("#data_alert").hide();
});

$("#data_input").click(function() {
	$("#data_alert").slideUp("slow");
	$("#imageContainer").slideUp("slow");
});

var form = $("#form");
var btn = $("#submitButton");
btn.click(function() {
	var data = $("#data_input").val();
	if (data == '') {
		$("#data_alert").slideDown("slow");
		return false;
	} else {
		$.ajax({
			url: form.attr("action"),
			type: "post",
			data: form.serialize(),
			success: function(response) {
				$("#imageContainer").html(response);
				$("#imageContainer").hide().delay(600).slideDown("slow");
			}
		});
	}
});

</script>

</html>